@import "_reset.scss";
@import "_media.scss";
$main-color: #8cc63f;
$green-txt-color: #2f4f3c;

$max-width: 1920px;
$max-width-container: 1638px;
// font-family: 'Nunito', sans-serif;
// font-family: 'Orelega One', cursive;
body {
  font-family: "Nunito", sans-serif;
}
[class*="__container"] {
  max-width: 1638px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  position: relative;
  max-height: 114px;

  background: $main-color;
  box-shadow: 0px 4px 20px rgba(184, 180, 176, 0.8);
  &__logo {
    position: absolute;
    z-index: 4;
    top: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    img {
      width: 112px;
      border-radius: 50%;
      border: 8px solid $main-color;
      object-fit: cover;
    }
  }
  .menu {
    padding: clamp(3rem, 2.769rem + 0.56vw, 3.438rem) 0
      clamp(1.688rem, 1.456rem + 0.56vw, 2.125rem) 0;
    &__burger {
      display: none;
    }
    &__cart {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      li + li {
        padding-left: 44px;
      }
      li:nth-child(3) {
        padding-left: 208px;
      }
    }
    &__item {
      font-weight: 600;
      line-height: 24.55px;
      font-size: 18px;
      color: #ffffff;
      transition: 0.2s;
      &-link {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -7px;
          width: 0%;
          height: 2px;
          background: #ffffff;
          transition: 0.2s;
        }
        &:hover {
          color: $green-txt-color;
        }
        &:hover::before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
main {
  .banner {
    width: 100%;
    max-height: 1089px;
    position: relative;
    &__bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__content {
      font-family: "Orelega One", cursive;
      font-weight: 400;
      text-align: center;
      padding-top: 140px;
      padding-bottom: 32px;
      &-title {
        max-width: clamp(22.125rem, 19.663rem + 12.31vw, 34.438rem);
        margin: 0 auto;
        padding-bottom: 17px;
        font-size: clamp(1.875rem, 1.387rem + 2.44vw, 4.313rem);
        line-height: clamp(2.5rem, 2.063rem + 2.19vw, 4.688rem);
        color: $main-color;
      }
      &-subtitle {
        padding-top: 10px;
        font-size: clamp(1.125rem, 0.75rem + 1.88vw, 3rem);
        color: $green-txt-color;
      }
    }
  }
}
