@import "_reset.scss";
@import "_media.scss";
$main-color: #8cc63f;
$main-color-opacity: rgba(140, 198, 63, 0.5);
$green-txt-color: #2f4f3c;

$max-width: 1920px;
$max-width-container: 1638px;
// font-family: 'Nunito', sans-serif;
// font-family: 'Orelega One', cursive;
body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  line-height: 25px;
}
[class*="__container"] {
  max-width: 1638px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
h3 {
  font-family: "Orelega One", cursive;
  font-size: 26px;
  line-height: clamp(1.375rem, 1.3rem + 0.38vw, 1.75rem);
  text-align: center;
  color: $green-txt-color;
}
h4,
.basket__empty,
.caption {
  color: #2f4f3c;
  line-height: 25px;
  font-weight: 700;
  font-size: 18px;
}
.btn {
  border-radius: 16px;
  background: $green-txt-color;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  padding: 11px;
  transition: 0.2s;
  &:hover {
    opacity: 0.9;
  }
}
.none {
  display: none;
}
.header {
  position: relative;
  max-height: 114px;

  background: $main-color;
  box-shadow: 0px 4px 20px rgba(184, 180, 176, 0.8);
  &__logo {
    position: absolute;
    z-index: 4;
    top: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    img {
      width: 112px;
      border-radius: 50%;
      border: 8px solid $main-color;
      object-fit: cover;
    }
  }
  .menu {
    padding: clamp(3rem, 2.769rem + 0.56vw, 3.438rem) 0
      clamp(1.688rem, 1.456rem + 0.56vw, 2.125rem) 0;
    &__burger {
      display: none;
    }
    &__cart {
      display: none;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      li + li {
        padding-left: 44px;
      }
      li:nth-child(3) {
        padding-left: 208px;
      }
    }
    &__item {
      font-weight: 600;
      line-height: 24.55px;
      font-size: 18px;
      color: #ffffff;
      transition: 0.2s;
      &-link {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: -7px;
          width: 0%;
          height: 2px;
          border-radius: 2px;
          background: #ffffff;
          transition: 0.2s;
        }
        &:hover {
          color: $green-txt-color;
        }
        &:hover::before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
main {
  .banner {
    width: 100%;
    max-height: 1089px;
    position: relative;
    &__bg {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &__content {
      font-family: "Orelega One", cursive;
      font-weight: 400;
      text-align: center;
      padding-top: 140px;
      padding-bottom: 60px;
      &-title {
        max-width: clamp(22.125rem, 19.663rem + 12.31vw, 34.438rem);
        margin: 0 auto;
        padding-bottom: 17px;
        font-size: clamp(1.875rem, 1.387rem + 2.44vw, 4.313rem);
        line-height: clamp(2.5rem, 2.063rem + 2.19vw, 4.688rem);
        color: $main-color;
      }
      &-subtitle {
        padding-top: 10px;
        font-size: clamp(1.125rem, 0.75rem + 1.88vw, 3rem);
        color: $green-txt-color;
      }
    }
  }
  .shop {
    position: relative;
    &-tabs {
      z-index: 2;
      max-width: clamp(20rem, 19.625rem + 1.88vw, 21.875rem);
      margin: 0 auto;
      &__items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(1.5rem, 1.25rem + 1.25vw, 2.75rem);
        border-bottom: 1px solid $main-color-opacity;
      }
      &__item {
        position: relative;
        font-weight: 600;
        color: $green-txt-color;
        padding-bottom: 12px;
        cursor: pointer;
      }
      &__item._active {
        border-bottom: 3px solid $main-color;
      }
    }
    &__main {
      display: flex;
      margin-top: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
      .shop__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 0 1 90%;
        flex-wrap: wrap;
        gap: 32px;
        .card {
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          width: 296px;
          min-height: 414px;
          border-radius: 24px;
          padding: 24px;
          background: #ffffff;
          box-shadow: 0px 0px 16px rgba(184, 180, 176, 0.5);
          &__titel {
            min-height: 84px;
          }
          &__img-product {
            object-fit: cover;
            width: 248px;
          }
          &__price {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 10px;
            font-size: 18px;
            line-height: 25px;
            margin-top: 21px;
            &-currency {
              font-weight: 700;
              color: $green-txt-color;
            }
            &-weight {
              font-weight: 400;
            }
          }
          &__details {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            width: 248px;
            height: 49px;
            margin-top: 18px;
            .counter {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              height: 100%;
              border: 1px solid $green-txt-color;
              border-radius: 16px;
              padding: 12px;
              &__control {
                font-weight: 900;
                font-size: 22px;
                color: #343434;
                cursor: pointer;
                transition: 0.9s;
                &:hover {
                  color: $main-color;
                }
              }
              &__quatity {
                font-weight: 400;
                font-size: 18px;
              }
            }
            &-btn {
              width: 100%;
            }
          }
        }
      }
      .basket {
        flex: 0 1 10%;
        width: 294px;
        min-height: 150px;
        border: 2px solid $green-txt-color;
        border-radius: 24px;
        padding: 23px;
        margin-left: 32px;
        box-shadow: 0px 0px 16px rgba(184, 180, 176, 0.5);
        &__title {
          margin-bottom: 21px;
        }
        &__body {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        &__wrapper {
          max-height: 152px;
          overflow: auto;
          &::-webkit-scrollbar {
            width: 5px;
            height: 100%;
            background-color: $green-txt-color;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $main-color;
            height: 4px;
            border-radius: 50px;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
            background-color: #f9f9fd;
          }
        }
        &__empty {
          align-items: center;
          text-align: center;
          margin-bottom: 20px;
        }
        &-item {
          &__top {
            display: flex;
            justify-content: flex-start;
            gap: 12px;
            align-items: center;
          }
          &__delete {
            color: $main-color;
            cursor: pointer;
          }
          &__title {
            color: $green-txt-color;
            line-height: 23px;
            font-weight: 700;
            font-size: 16px;
          }
          &__bottom {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: $green-txt-color;
            padding-left: 30px;
            padding-top: 5px;
          }
        }
        .basket-item + * {
          margin-top: 16px;
        }

        &__winding-line {
          margin: 10px 0;
          opacity: 0.7;
        }
        &__total {
          .delivery-cost,
          .sum,
          .uan {
            color: $main-color;
            font-weight: 700;
          }
          &-delivery {
            padding-top: 10px;
            .small {
              font-size: 14px;
              color: $green-txt-color;
            }
          }
          &-price {
            padding-top: 5px;
          }
        }
        &__order {
          padding-top: 30px;
          .form {
            &-group {
              border: 1px solid $green-txt-color;
              border-radius: 16px;
              padding: 11px;
              margin-top: 10px;
            }
            &-control {
              font-size: 16px;
            }
            &-btn {
              margin-top: 13px;
            }
          }
        }
      }
    }
    .bg-img {
      z-index: 1;
      opacity: 0.7;
      &__first {
        position: absolute;
        top: 12%;
        left: 0;
        img {
          max-height: 340px;
        }
      }
      &__second {
        position: absolute;
        top: 19%;
        right: 0;
      }
      &__third {
        position: absolute;
        top: 39%;
        left: 0;
      }
      &__fourth {
        position: absolute;
        top: 47%;
        right: 0;
      }
      &__fifth {
        position: absolute;
        top: 70%;
        left: 0;
      }
      &__sixth {
        position: absolute;
        top: 81%;
        right: 0;
      }
    }
  }
}
.footer {
  margin-top: 90px;
  background: $main-color;
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 60px;
    flex-wrap: wrap;
    padding: 74px 0 56px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    &-title {
      text-align: center;
      color: $green-txt-color;
      padding-bottom: 18px;
      font-weight: 900;
    }
    &-item {
      transition: 0.2s;
      & + * {
        padding-top: 18px;
      }
      &:hover {
        color: $green-txt-color;
        font-weight: 500;
      }
    }
    &-time + * {
      padding-top: 18px;
    }
    .networks {
      display: flex;
      justify-content: space-around;
      &__wrapper {
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 35px;
        border-radius: 50%;
        background-color: #ffffff;
        color: $main-color;
        box-shadow: 0px 0px 2px #ffffff;
        transition: 0.2s;
        i{
          font-weight: 600;
          font-size: 20px;
        }
        &:hover{
          background-color: $green-txt-color;
          color: #ffffff;
          box-shadow: 0px 0px 2px #343434;
        }
      }
    }
  }
}
